
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  
  font-family: 'Playfair Display', serif;
  
}
h4{
  
          /** TEXT GRADIENT */ color: #d040b3; background-image: -webkit-linear-gradient(0deg, #d040b3 46%, #07badb 81%, #405815 89%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
        
}